{
    "rules": {
        "semi": [2, "always"],
        "quotes": [2, "single"]
    },
    "env": {
        "es6": true,
        "browser": true
    },
    "globals": {
        "Typograf": true,
        "browser": true,
        "chrome": true,
        "isChrome": true,
        "_": true
    },
    "extends": "eslint:recommended"
}
