body.firefox .settings {
    position: absolute;
    top: 0;
    left: 0;

    overflow-x: auto;

    width: 100%;
    height: 100%;
}

.settings__hint {
    position: relative;

    margin-left: .4em;
    padding: 1px 5px;

    color: #fff;
    border-radius: 20px;
    background: #888;

    font-size: 9px;
}

.settings__hint:hover .settings__hint-text {
    visibility: visible;

    transition-delay: 0s;

    opacity: 1;
}

.settings__hint-text {
    position: absolute;
    z-index: 100;
    top: 100%;
    left: 0;

    visibility: hidden;

    min-width: 200px;
    max-width: 300px;
    margin-top: 5px;
    padding: .3em .6em;

    transition: .2s ease opacity, 0s ease visibility .2s;
    transform: translateX(-50%);

    opacity: 0;
    color: #222;
    border: 1px solid #e5e5e5;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);

    font-size: 12px;
    line-height: 1.7;
}

.settings__hidden {
    visibility: hidden;
}

.settings__default {
    float: right;

    margin-top: 5px;

    font-size: 12px;
}

.settings__title {
    border-bottom: 1px solid #e0e0e0;

    font-size: 20px;
}

.settings__block {
    border-top: 1px solid #e0e0e0;
}

.settings__block, .settings__title {
    padding: 10px 10px 10px 20px;
}

.settings__block_first {
    border-top: 0;
}

.settings__fieldset {
    clear: both;

    margin: 10px 10px 0 8px;
    padding: 0 1em 0 .5em;

    border: 1px solid transparent;
    border-radius: 5px;
}

.settings__fieldset:first-child {
    margin-top: 0;
}

.settings__all-rules {
    margin-bottom: 50px;
}

.settings__rules-title {
    display: inline-block;

    font-size: 16px;
}

.settings__rule {
    margin-bottom: 5px;
    margin-left: 7px;

    line-height: 1.6em;
}

.settings__rule-checkbox {
    margin-right: 5px;
}

.settings__legend {
    margin: 0;
    padding: 3px 7px;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;

    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background: #f0f0f0;

    font-weight: bold;
}

.settings__legend:hover {
    border: 1px solid #c5c5c5;
}

.settings__fieldset .settings__rule {
    display: none;
}

.settings__fieldset_visible .settings__rule {
    display: block;
}

.settings__fieldset_visible {
    margin-bottom: .5em;
    padding: .5em .5em .2em .5em;

    border: 1px solid #e0e0e0;
}

.settings__select-all-container {
    float: right;

    vertical-align: middle;
}

.settings__footer {
    position: fixed;
    z-index: 10;
    bottom: 0;

    width: auto;
    padding: 5px 15px 5px 20px;

    border: 1px solid rgba(100, 100, 100, .2);
    border-bottom: 0;
    border-left: 0;
    border-radius: 0 5px 0 0;
    background: rgba(240, 240, 240, .8);
}

.settings__version {
    display: inline-block;

    margin-left: 3px;

    font-size: .8em;
}

.settings__name, .settings__default, .settings__report-bug {
    white-space: nowrap;
    text-decoration: none;

    color: #4078c0;
}

.settings__report-bug {
    margin-left: 1em;
}
